<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img src="../../../assets/bag1.png" alt="Bags Banner" class="img-responsive" style="width:40%; height: 350px;">
      <div class="carousel-caption">
        <div class="banner-content">
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="banner-header text-left">
                <h4> ABOUT OUR BAGGAGE</h4>
              </div>
              <div class="col-xs-12">
                <div class="banner-content-inner text-left">
                  <p class="clearfix">Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend
                    integer,Pellentesque maximus
                    libero.Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque
                    maximus
                    libero.</p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="banner-botton">
                  <button class="btn btn-shop pull-right">Read More</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="item" style="">
      <img src="../../../assets/home-cars-photo2.jpg" alt="Bags Banner" class="img-responsive"
        style="width:40%; height: 350px;">
      <div class="carousel-caption">
        <div class="banner-content">
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="banner-header text-left">
                <h4> ABOUT OUR BAGGAGE</h4>
              </div>
              <div class="col-xs-12">
                <div class="banner-content-inner text-left">
                  <p class="clearfix">Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend
                    integer,Pellentesque maximus
                    libero.Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque
                    maximus
                    libero.</p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="banner-botton">
                  <button class="btn btn-shop pull-right">Read More</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/home-cars-photo3.jpg" alt="Bags Banner" class="img-responsive"
        style="width:40%; height: 350px;">
      <div class="carousel-caption">
        <div class="banner-content">
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <div class="banner-header text-left">
                <h4> ABOUT OUR BAGGAGE</h4>
              </div>
              <div class="col-xs-12">
                <div class="banner-content-inner text-left">
                  <p class="clearfix">Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend
                    integer,Pellentesque maximus
                    libero.Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque
                    maximus
                    libero.</p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="banner-botton">
                  <button class="btn btn-shop pull-right">Read More</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- 
<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img src="../../../assets/bag1.png" alt="Bags Banner" class="img-responsive">
    </div>
    <div class="col-xs-12  col-md-6">
      <div class="banner-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="banner-header">
              <h4> ABOUT OUR BAGGAGE</h4>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="banner-content-inner">
              <p class="clearfix">Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend
                integer,Pellentesque maximus
                libero.Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque
                maximus
                libero.</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="banner-botton">
              <button class="btn btn-shop">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Advance Futuer Section START -->
<div class="container margin-top ">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-4"  style="text-align: center;">
          <i class="fa fa-motorcycle" aria-hidden="true" style="font-size: 160px; color: #74d2e7;"></i>
          <div class="advance-content">
            <h4>FAST & FREE DELIVERY</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>
        <div class="col-md-4"  style="text-align: center;">
          <i class="fa fa-money" aria-hidden="true" style="font-size: 160px; color: #74d2e7;"></i>
          <div class="advance-content">
            <h4>SAFE & SECURE PAYMENTS</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>
        <div class="col-md-4"  style="text-align: center;">
          <i class="fa fa-sun-o" aria-hidden="true"  style="font-size: 160px; color: #74d2e7;"></i>
          <div class="advance-content">
            <h4>100% MONEY BACK GUARANTEE</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Advance Futuer Section END -->

<!-- Image section Start -->

<div class="container-fluid banner-img-section">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <img src="../../../assets/banner1.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-xs-12 col-md-3 margin-top">
      <div class="row">
        <div class="col-xs-12 banner-img-section-inner center-block">
          <h4>TRAVEL MUST HAVES</h4>
        </div>
        <div class="col-xs-12 banner-img-section-inner">
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.
          </p>
        </div>
        <div class="col-xs-12 banner-img-section-inner">
          <button class="btn btn-shop-now" routerLink="/products">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Image section END -->
<!-- safety meet style Section Start-->

<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12">
      <div class="safety-meet-style">
        <h4>SAFETY MEETS STYLE</h4>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-4 safety-meet-style-img">
      <img src="../../../assets/c1.jpg" alt="Fashion 1" class="img-responsive center-block">
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="row safety-meet-style-content">
        <div class="col-xs-12  col-sm-12 safety-meet-style-content-inner">
          <h4>NEED EXTRA SPACE ?</h4>
        </div>
        <div class="col-xs-12 col-sm-12 safety-meet-style-content-inner">
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 safety-meet-style-content-inner">
          <button class="btn btn-shop-now" routerLink="/products">Shop Now</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 safety-meet-style-img">
      <img src="../../../assets/c2.jpg" alt="Fashion 2" class="img-responsive center-block">
    </div>
  </div>
</div>
<!-- safety meet style Section  End-->

<!-- safety meet style Section  End-->

<div class="container-fluid  fashion-banner margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-6 fashion-banner-column">
      <img src="../../../assets/ab1.jpg" alt="" class="img-responsive center-block">
      <div class="discount-col-1">
        <h4>50% Off Any <br> Women's Bags</h4>
        <button class="btn btn-discount" routerLink="/products">Shop Now</button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 fashion-banner-column">
      <img src="../../../assets/ab2.jpg" alt="" class="img-responsive center-block">
      <div class="discount-col-2">
        <h4>50% Off Any <br> Women's Bags</h4>
        <button class="btn btn-discount" routerLink="/products">Shop Now</button>
      </div>
    </div>
  </div>
</div>

<!-- safety meet style Section  End-->
<!-- Trends Section  Start-->

<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-4 trading-section">
      <h4>TRENDING NOW</h4>
      <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
      <button class="btn btn-trading" routerLink="/products">Shop Now</button>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
          <img src="../../../assets/g1.jpg" alt="" class="img-responsive center-block">
          <div class="overlay">
            <div class="layout-text">New Arrivals<br>
              <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
           </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
          <img src="../../../assets/g2.jpg" alt="" class="img-responsive center-block">
          <div class="overlay">
            <div class="layout-text">New Brands<br>
              <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
          <img src="../../../assets/g3.jpg" alt="" class="img-responsive center-block">
          <div class="overlay">
            <div class="layout-text">Flat 5% Off <br>
              <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
           </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
          <img src="../../../assets/g4.jpg" alt="" class="img-responsive center-block">
          <div class="overlay">
            <div class="layout-text">50% Offer<br>
              <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
           </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
          <img src="../../../assets/g5.jpg" alt="" class="img-responsive center-block ">
          <div class="overlay">
            <div class="layout-text">10% Off (EMI)<br>
              <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
           </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 grid-imgs">
            <div style="width:auto;">
              <img src="../../../assets/g6.jpg" alt="" class="img-responsive center-block">
              <div class="overlay">
                <div class="layout-text">15% Off Sale<br>
                  <button class="btn pull-right overlay-btn" routerLink="/products">BUY</button>
               </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Trends Section  End-->

<!--  Subscribe Section  Start-->
<div class="container-fluid  subscribe-section">
  <div class="row">
    <div class="col-xs-12 col-md-7 col-md-offset-2 subscribe-title">
      <p>Subscribe to the Handbags Store mailing list to receive updates on new arrivals, special offers and other discount information.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-2">
      <div class="form-group">
        <input type="text" appInputButtomBordered class="form-control input-subscribe" placeholder="Enter your email ...">
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-3">
      <button  class="btn btn-subscribe form-control btn-shutter">Subscribe</button>
    </div>
  </div>
</div>
<!--  Subscribe Section  End-->