<div class="container margin-top-md">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs12 error-block">
      <span> PAGE NOT FOUND</span>
    </div>
    <div class="col-md-6  col-md-offset-2 col-sm-12 col-xs-12 margin-top-sm error-title">
      <span>We Are Sorry</span> <br>
      <p>The page you requested cannot be found.</p>
    </div>
    <div class="col-md-8  col-md-offset-2 col-sm-12 col-xs-12 margin-top-sm error-title">
      <p>We have redesigned our web site and many URLs have changed. You can go to our Home Page to find the topic
        you are looking for, or use the site search or the site map to find the topic you are interested in.</p>
      <p>In case you have typed the URL, please check if the spelling is correct.</p>
      <p>If you suspect a site problem, kindly report the problem. We appreciate your support.</p>
      <p><a (click)="nav()">Contact Us</a></p>
    </div>
  </div>
</div>