<div class="container-fluid">
  <div class="row container-row">
    <div class="row margin-all">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-sm heading-text">
        <h2>My Cart</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <ng-template ngFor let-product [ngForOf]="CartProducts" let-i="index">
            <div class="cart-box">
              <div class="row padding-all">
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <img [(src)]="product.itemImage" height="130" width="200" alt="">
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 padding-left-md
                  cart-text">
                  <h4>{{product.itemTitle}}</h4>
                  <p>{{product.itemBrand}} ({{product.itemColor}})</p>
                  <h4 class="P-prices"> &#8377;{{product.itemPrice - product.itemPrice * 15 / 100 | number: '1.0-0'}}</h4>
                  <span class="P-offer-price"><del>&#8377;{{product.itemPrice}}</del></span>
                  <span class="P-discount"> &nbsp; &nbsp; - 15% Off</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 cart-text">
                  <span> <h5
                      style="display:inline-block"> <span class="glyphicon
                        glyphicon-map-marker"></span> Delivery in 3 - 4 days
                      | <span style="color:green; font-weight:bold">Free</span>
                      ₹40 </h5></span>
                  <div>
                    <p style="margin-top:10px;">Quentity:</p>
                    <div class="plus-mins" (click)="desQty(product)">-</div>
                    <input type="text" [(ngModel)]="product.itemQuality"  disabled class="form-control Qty-input"/>
                    <div class="plus-mins" (click)="incQty(product)">+</div>
                    <button type="button" class="btn btn-danger
                      pull-right" (click)="removeItem(product)"><i class="glyphicon glyphicon-trash"></i></button>
                  </div>
                  <div>
                    <!-- <button class="btn btn-primary btn-custom">SAVE FOR LATER</button> -->
                    <!-- <button class="btn btn-primary pull-right">REMOVE</button> -->
                    <!-- <button type="button" class="btn btn-default btn-custom pull-right">REMOVE</button>       -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="place-order">
            <div class="form-group col-xs-12">
              <button *ngIf="CartProducts.length >=1" class="btn btn-subscribe btn-order pull-right form-control
                btn-shutter"(click)="placeOrder()">place an order</button>
              <button *ngIf="CartProducts.length <=0" routerLink="/products" class="btn btn-subscribe btn-order pull-right form-control
                btn-shutter" >Shop Now</button>
                <h4 *ngIf="CartProducts.length <=0" style="padding:15px">No item(s) found in your cart.</h4>
            </div>
            <br> <br> <br> <br> <br>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cart-box">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="pro-details border-gray">PRICE DETAILS</h3>
              </div>
              <div class="col-sm-12">
                <div class="pro-text">
                  <span><b>Price ({{CartProducts.length}} items)</b></span>
                  <span class="pull-right">&#8377; {{totalAmount | number: '1.0-0'}}</span>
                </div>
                <div class="pro-text border-gray">
                  <span><b>Delivery</b></span>
                  <span class="pull-right" style="color:green">FREE</span>
                </div>
              </div>
              <div class="col-sm-12 pro-total">
                <div class="border-gray">
                  <span class=""><b>Total Payable</b></span>
                  <span class="pull-right">&#8377;{{totalAmount | number: '1.0-0'}}</span>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="pro-text">
                  <span class="" style="color:green"><b>You will save ₹ {{disAmount | number: '1.0-0'}} on
                      this order</b></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-md">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="pagination pull-right">
          <li><a href="#"><<<</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">>>></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
