<div class="container">
  <div class="row">
    <div class="row margin-all">
      <div class="col-md-12 col-sm-12 col-xs-12 heading-text">
        <h2>Make Your Collection's</h2>
        </div>
        </div>
  </div>
  <div class="row">
          <ng-template ngFor let-product [ngForOf]="products" let-i="index">
            <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 padding-0">
              <div class="items" (click)="viewDetail(product)">
              <img [(src)]="product.itemImage" alt="" class="center-block img-responsive">
              <div class="product-details border-bottom">
                <span>{{product.itemTitle | slice:0:15}}</span>
                </div>
                <div class="" align="center">
                  <span class="item-price">&#x20B9;{{product.itemPriceOnOffer}}</span>&nbsp;
                    <span><del>&#x20B9;{{product.itemPrice}}</del></span>
                    <br>
                  <ul class="stars">
                    <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                  </ul>
                </div>
                </div>
          </div>
            </ng-template>
    
      </div>
      </div>
