.margin-all{
    margin:5%;
}

.bordered{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.border-bottom{
    padding:5%;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.margin-top-sm{
    margin-top:10%;
}
.product-details{
    text-transform: uppercase;
    font-weight: bold;
}
.item-price{
    font-weight: bold;
    color:rgb(223, 48, 48);
    font-size: 15px;
}
.panel{
border:0px;
}
.stars{
    text-align:left;
}
.stars li{
    display: inline-block;
    margin:3px;
}
.heading-text{
    text-align: center;
    font-size: 10%;
    text-transform: uppercase;
    font-weight: 400;
}
.panel-heading-text{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    padding:1%;
    outline: 1px solid rgba(0,0,0,.1);
    color:#74d2e7;
}
.panel-boxs-text{
    padding:1%;
    outline: 1px solid rgba(0,0,0,.1);
}
.btn-info{
    background-color: #74d2e7;
    border-radius: 0px;
    border:none;
}

  
 
