<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 banner-section">
      <img src="../../../assets/profile-bg.jpg" alt="Profile" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" height="120"
        class="rounded-circle center-block profile-picture">
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 content-box">
      <span class="profile-name">Welcome Mr. <strong>{{singleUsertitle | uppercase}}</strong> </span><sup
        class="label label-success member">P</sup>
      <span class="pull-right"><a class="pointer" id="edit-Profile" (click)="editProfile()"><span
            class="glyphicon glyphicon-edit"></span>
          Edit
          Profile</a></span>
    </div>
  </div>
  <hr class="margin-top">
</div>
<!-- Edit profile section start here -->
<div class="container margin-top-lg d-none" id="profile-form">
  <form role="form" [formGroup]="userRegistrationForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Name">* Name </label>
          <input appInputButtomBordered type="text" formControlName="name" autocomplete="off"
            class="form-control form-input login-input"
            id="Name" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_lname">* Email</label>
          <input appInputButtomBordered type="text" formControlName="email" autocomplete="off"
            class="form-control form-input login-input"
            id="Email" placeholder="Email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_email">* Password</label>
          <input appInputButtomBordered type="password" formControlName="password" autocomplete="off"
            class="form-control form-input login-input"
            id="Password" placeholder="Password">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_phone">* Date Of Birth</label>
          <input appInputButtomBordered type="date" formControlName="dateofbirth" autocomplete="off"
            class="form-control form-input login-input" id="dateofbirth" placeholder="DD/MM/YYYY"
            value="{{ userRegistrationForm.get('dateofbirth').value | date:'yyyy-MM-dd' }}">
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
            <label for="D_phone">* Phone</label>
            <input appInputButtomBordered type="text" formControlName="phone" autocomplete="off"
              class="form-control form-input                                                                                                                  login-input"
              id="D_phone" placeholder="Phone No">
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div formArrayName="address">
          <div *ngFor="let address of address.controls; let i=index">
            <div class="form-group" [formGroupName]="i">
              <label for="address">* Delivery Address</label>
              <input appInputButtomBordered type="text" formControlName="address"
                class="form-control form-input                                                                                  login-input"
                id="address" placeholder="address">
            </div>
          </div>
          <a (click)="addAddress()" class="pointer pull-right">Add Address <span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-9">
        <button class="btn btn-subscribe form-control btn-shutter margin-top-sm pull-right" type="submit">Update</button>
      </div>
    </div>
    </form>
</div>

<!-- Edit profile section end here -->

<!-- Error model -->
<div class="row text-center" style="display:
 block;">
  <div class="modal fade modalDialogb" id="modelErr" tabindex="-1" role="dialogb" aria-labelledby="modalLabelb">
    <div class="modal-dialog_a modal-lg">
      <div class="modal-content_b">
        <div class="modal-body_b">
          <div class="row">
            <div class="col-sm-12">
              <h2>Something Went Wrong....</h2>
            </div>
            <div class="col-sm-12">
              <button class="btn-custom-error" data-dismiss="modal">Ok</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Success model -->
<div class="row  text-center">
  <div class="modal fade modalDialogA" id="modelSucc" tabindex="-1" role="dialogA" aria-labelledby="modalLabelA">
    <div class="modal-dialog_a modal-md">
      <div class="modal-content_a">
        <div class="modal-body_a">
          <div class="row">
            <div class="col-sm-12">
              <h2>Your Profile has been Updated Successfully</h2>
            </div>
            <div class="col-sm-12 text-center">
              <!-- <button class="btn-custom-success pull-right" (click)="showCart()">GO TO CART</button> -->
              <button class="btn-custom-success" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>