<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 banner-section">
      <img src="../../../assets/profile-bg.jpg" alt="Profile" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" height="120"
        class="rounded-circle center-block profile-picture">
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 content-box">
      <span class="profile-name">Welcome Mr. <strong>{{singleUsertitle | uppercase}}</strong> </span><sup
        class="label label-success member">P</sup>
      <span class="pull-right"><a class="pointer" id="edit-Profile" (click)="editProfile()"><span
            class="glyphicon glyphicon-edit"></span>
          Edit
          Profile</a></span>
    </div>
  </div>
  <hr class="margin-top">
</div>
<div class="container">
</div>
<!-- Edit profile section start here -->
<div class="container margin-top-lg d-none" id="profile-form">
  <form role="form" [formGroup]="profileForm" (ngSubmit)="profileSubmit()" action="/uploadphoto" method="POST"
    enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <label for="Profile">Upload Profile Image</label>
          <input appInputButtomBordered #fileupload (change)="getImage($event)" type="file" name="profileImg"
            formControlName="profileImg" autocomplete="off" accept="image/*"
            class="form-control form-input                                                                                                                  login-input"
            id="Profile" placeholder="">
        </div>
      </div>
      <div class="col-sm-4 margin-top-sm">
        <button class="btn btn-subscribe form-control btn-shutter margin-top-sm pull-right" type="submit">Upload</button>
      </div>
    </div>
  </form>
  
  <form role="form" [formGroup]="userRegistrationForm" (ngSubmit)="submitForm()" action="/singleUserUpdate" method="POST"
    enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Name">Name </label>
          <input appInputButtomBordered type="text" formControlName="name" autocomplete="off"
            class="form-control form-input login-input"
            id="Name" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_lname">Email</label>
          <input appInputButtomBordered type="text" formControlName="email" autocomplete="off"
            class="form-control form-input login-input"
            id="Email" placeholder="Email" [attr.disabled]="true">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_email">Password</label>
          <input appInputButtomBordered type="password" formControlName="password" autocomplete="off"
            class="form-control form-input login-input"
            id="Password" placeholder="Password" [attr.disabled]="true">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="D_phone">Date Of Birth</label>
          <input appInputButtomBordered type="date" formControlName="dateOfBirth" autocomplete="off"
            class="form-control form-input login-input" id="dateofbirth" placeholder="MM/DD/YYYY"
            value="{{ userRegistrationForm.get('dateOfBirth').value | date:'yyyy-MM-dd' }}">
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
            <label for="D_phone">Phone</label>
            <input appInputButtomBordered type="text" formControlName="phone" autocomplete="off"
              class="form-control form-input                                                                                                                  login-input"
              id="D_phone" placeholder="Phone No">
          </div>
        </div>
    </div>
  
      <div class="row">
      <div class="col-sm-12">
        <div formArrayName="address">
          <div *ngFor="let address of address.controls; let i=index">
            <div class="form-group" [formGroupName]="i">
              <label for="address">Delivery Address</label>
              <input appInputButtomBordered type="text" formControlName="address"
                class="form-control form-input                                                                                  login-input"
                id="address" placeholder="address">
            </div>
          </div>
          <a (click)="addAddress()" class="pointer pull-left margin-top-sm">Add Address <span
              class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-9">
        <button class="btn btn-subscribe form-control btn-shutter margin-top-sm pull-right" type="submit">Update</button>
      </div>
    </div>
    </form>
</div>

<!-- Edit profile section end here -->
