<div class="container">
  <div class="row margin-top-md">
    <div class="col-md-12 col-sm-12 col-xs-12 contact-title">
      <span>Contact Us</span>
    </div>
  </div>
    <div class="row margin-top-md">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="">
              <div class="form-group">
                <input type="email" appInputButtomBordered class="form-control contact-input" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" appInputButtomBordered class="form-control contact-input" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="text" appInputButtomBordered class="form-control contact-input" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input type="text" appInputButtomBordered class="form-control contact-input" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <textarea appInputButtomBordered class="form-control contact-input-textarea" rows="5" id="comment"
                  placeholder="Your message here..."></textarea>
              </div>
              <div class="form-group">
                <button value="" class="btn btn-subscribe form-control btn-shutter">submit</button> 
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body ">
            <div class="mapouter">
              <div class="gmap_canvas"><iframe  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=3G%20Homes%20Crimson%20Layout%2C%20Kadugodi%2C%20Bengaluru%2C%20Karnataka%20560067%2C%20India&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-md">
      <div class="col-md-4 col-sm-12 col-xs-12">
       <div class="title-header">
        <span class="logos"><i class="fa fa-comments"></i></span>
        <span>&nbsp; COMMUNICATION</span>
       </div>
       <div class="title-body">
          <p>For General Queries, Including Property Sales And Constructions, Please Email Us At </p> <br>
          <p class="contact-media">info@baggage.com</p> 
       </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="title-header">
          <span class="logos"><i class="fa fa-life-ring"></i></span>
          <span> &nbsp; TECHNICAL SUPPORT</span>
         </div>
         <div class="title-body">
            <p>We Are Ready To Help! If You Have Any Queries Or Issues, Contact Us For Support </p> <br>
            <p class="contact-media">+91 1234567890</p>
         </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="title-header">
          <span class="logos"><i class="fa fa-map"></i></span>
          <span> &nbsp; OTHERS</span>
         </div>
         <div class="title-body">
            <p>We Are Ready To Help! If You Have Any Queries Or Issues, Contact Us For Support </p> <br>
            <p class="contact-media">+91 9876543210</p>
         </div>
      </div>
    </div>
    <!--  Subscribe Section  Start-->
<div class="container-fluid  subscribe-section">
  <div class="row">
    <div class="col-xs-12 col-md-7 col-md-offset-2 subscribe-title">
      <p>Subscribe to the Handbags Store mailing list to receive updates on new arrivals, special offers and other discount information.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-2">
      <div class="form-group">
        <input type="text" appInputButtomBordered class="form-control input-subscribe" placeholder="Enter your email ...">
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-3">
      <button  class="btn btn-subscribe form-control btn-shutter">Subscribe</button>
    </div>
  </div>
</div>
<!--  Subscribe Section  End-->
  </div>