<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 success-title margin-top-md">
        <img src="../../../assets/success-sign.png" alt="" class="pull-left success-img" height="120px">
      <span class="success-content">You have been logged out successfully</span>
    </div>
  </div>
  <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12 border-top"> 
      </div>
    </div>
    <div class="row margin-top-sm">
        <div class="col-md-8 col-md-offset-3 col-sm-12 col-xs-12 re-visit-msg"> 
        <p>If you desire to improve your familiarity just keep visiging this site and be updated.</p>
        <p>Thank you.</p>
        <p><a routerLink="/user">Login Again for Re-visit</a></p>
        </div>
      </div>
</div>