<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-all" align="center">
      <span class="signup-title">Sign Up</span> <br> <span class="signup-title-sub">Already have an account ? <a
          routerLink="user"> Log In</a></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 form-side">
      <div class="row padding-bottom-md">
        <div class="col-md-4 col-sm-12 col-xs-12">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <form [formGroup]="userRegistrationForm" (ngSubmit)="RegisterUser()">
            <div class="form-group">
              <input type="text" formControlName="name" appInputButtomBordered
                class="form-control form-input input-subscribe" id="text1" autocomplete="off" placeholder="Full name" [class.err-btm-border]="isSubmitted" 
                [class.err-btm-border]="userRegistrationForm.get('name').invalid && userRegistrationForm.get('name').touched">
                 <div *ngIf="userRegistrationForm.get('name').invalid && userRegistrationForm.get('name').touched"> 
                 
                  <small *ngIf="email.errors?.required" class="redColor">
                    Full Name is required.
                  </small>
                </div>
              </div>
            <div class="form-group">
              <input  type="email" formControlName="email" appInputButtomBordered
                class="form-control form-input input-subscribe" placeholder="Email Id" [class.err-btm-border]="isSubmitted"
                [class.err-btm-border]="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched" >
                 <div *ngIf="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched"> 
                  <small *ngIf="email.errors?.email" class="redColor">
                    Please enter a valid Email ID e.g.: abc@abc.com</small>
                  <small *ngIf="email.errors?.required" class="redColor">
                    Email Id is required.
                  </small>
                </div>
              </div>
            <div class="form-group">
              <input  type="password" formControlName="password" appInputButtomBordered
                class="form-control form-input input-subscribe" placeholder="Password" [class.err-btm-border]="isSubmitted" 
                [class.err-btm-border]="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched">
                <div *ngIf="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched"> 
                  <small *ngIf="password.errors?.required" class="redColor">
                    Password is required.
                  </small>
                  <small *ngIf="password.errors?.minlength" class="redColor">
                    Passwords must have at least 8 characters.
                  </small>
                </div>
              </div>
            <div class="form-group abc">
              <button class="btn btn-subscribe form-control btn-shutter">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 media-side">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="medias-fb">
            <a href="#"> <span class="fa fa-facebook-f media-fb"></span></a> <span class="text-span">Continue With
              Facebook</span>
          </div>
          <div class="medias-go">
            <a href="#"><span class="fa fa fa-google media-go"></span></a> <span class="text-span">Continue With
              Google</span>
          </div>
          <div class="medias-tw">
            <a href="#"><span class="fa fa fa-twitter media-go"></span></a> <span class="text-span">Continue With
              Twitter</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-mf-offset-5 col-sm-12 col-xs-12 margin-top-md" align="center">
      * By Signing Up, you agree to our <a href="#"> Terms of Use</a> and to <br> receive Baggage emails & updates and
      acknowledge that you <br> read our <a href="#">Privacy Policy</a>.
    </div>
  </div>
</div>