html,
body {
    margin: 0px auto;
    font-size: 100%;
    background: #fff;
    font-family: 'Hind', sans-serif;
    scroll-behavior: smooth;
   
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
}

p {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 0;
}