<app-header></app-header>
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->
<!-- <app-home></app-home> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-log-out></app-log-out>  -->
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-profile></app-profile> -->
<!-- <app-collection></app-collection> -->
<!-- <app-puma></app-puma> -->
<!-- <app-levis></app-levis> -->
<!-- <app-trends></app-trends> -->
<!-- <app-unlimited></app-unlimited> -->
<!-- <app-easybuy></app-easybuy> -->
<!-- <app-hm></app-hm> -->
<!-- <app-viewitems></app-viewitems> -->
  <router-outlet>
      <!-- <div id="buffering-img">
          <img src="./assets/Buffering.gif" alt="Loading" height="250"  >
       </div> -->
  </router-outlet>
<app-footer></app-footer>
<!-- <app-spinner></app-spinner> -->
<div id="buffering-img" *ngIf="loaderService.isLoading | async">
  <img src="./assets/loading.gif" alt="Loading" height="150">
</div>
<notifier-container></notifier-container>