<div class="container">
  <div class="row margin-top-md">
    <div class="col-md-8 colsm-12 col-xs-12 border-bottom">
      <span class="reset-title">Reset Your Password ?</span>
    </div>
    <div class="col-md-6 col-md-offset-1 colsm-12 col-xs-12 margin-top-md reset-content">
      <p>Please provide the username or email address that you used when you signed up for your
        Baggage account.</p>
        <p>We will send you an email that will allow you to reset your password.</p>
    </div>
    <div class="col-md-4 colsm-12 col-xs-12 margin-top-md reset-content">
     <div class="form-group">
       <input type="text" appInputButtomBordered class="form-control varification-input" placeholder="Email Or User Id">
     </div>
     <div class="form-group">
      <button value="" class="btn btn-subscribe form-control btn-shutter">Send verification email</button> 
    </div>
    </div>
  </div>
</div>