<div class="container">
  <div class="row margin-top-md">
    <div class="col-md-8 colsm-12 col-xs-12 border-bottom">
      <span class="reset-title">Reset Your Password ?</span>
    </div>
    <div class="col-md-6 col-md-offset-1 colsm-12 col-xs-12 margin-top-md reset-content" *ngIf="!isEmailSend">
      <p>Please provide the Email address that you used when you signed up for your
        Baggage account.</p>
        <p>We will send you an email that will allow you to reset your password.</p>
    </div>
    <div class="col-md-6 col-md-offset-1 colsm-12 col-xs-12 margin-top-md reset-content" *ngIf="isEmailSend">
      <p>Please Provide the Verification Token sent to your Registrated Email address that you used when you signed up for
        your
        Baggage account.</p>
      <p>And reset your password by providing New Password and Confirm Password.</p>
    </div>
    <div class="col-md-4 colsm-12 col-xs-12 margin-top-md reset-content">
      <form [formGroup]="forgotPassword" (ngSubmit)="forgotPassword && !isEmailSend ? sendEmail() : changePassword()">
        <div class="form-group" *ngIf="!isEmailSend">
          <input type="email" formControlName="email" appInputButtomBordered class="form-control form-input input-subscribe"
            placeholder="Email Id" [class.err-btm-border]="isSubmitted"
            [class.err-btm-border]="forgotPassword.get('email').invalid && forgotPassword.get('email').touched">
          <div *ngIf="forgotPassword.get('email').invalid && forgotPassword.get('email').touched">
            <small *ngIf="email.errors?.email" class="redColor">
              Please enter a valid Email ID e.g.: abc@abc.com</small>
            <small *ngIf="email.errors?.required" class="redColor">
              Email Id is required.
            </small>
          </div>
        </div>
      
        <div class="form-group" *ngIf="isEmailSend">
          <input type="text" autocomplete="off" formControlName="reset_password_token" appInputButtomBordered
            class="form-control form-input input-subscribe" placeholder="Verification Token"
            [class.err-btm-border]="isSubmitted"
            [class.err-btm-border]="forgotPassword.get('reset_password_token').invalid && forgotPassword.get('reset_password_token').touched">
          <div
            *ngIf="forgotPassword.get('reset_password_token').invalid && forgotPassword.get('reset_password_token').touched">
            <small *ngIf="reset_password_token.errors?.required" class="redColor">
              Token is required.
            </small>
          </div>
        </div>
      
        <div class="form-group" *ngIf="isEmailSend">
          <input type="password" autocomplete="off" formControlName="new_password" appInputButtomBordered
            class="form-control form-input input-subscribe" placeholder="New Password " [class.err-btm-border]="isSubmitted"
            [class.err-btm-border]="forgotPassword.get('new_password').invalid && forgotPassword.get('new_password').touched">
          <div *ngIf="forgotPassword.get('new_password').invalid && forgotPassword.get('new_password').touched">
            <small *ngIf="new_password.errors?.required" class="redColor">
              New Password is required.
            </small>
          </div>
        </div>
        <div class="form-group" *ngIf="isEmailSend">
          <input type="password" autocomplete="off" formControlName="confirm_password" appInputButtomBordered
            class="form-control form-input input-subscribe" placeholder="Confirm Password"
            [class.err-btm-border]="isSubmitted"
            [class.err-btm-border]="forgotPassword.get('confirm_password').invalid && forgotPassword.get('confirm_password').touched">
          <div *ngIf="forgotPassword.get('confirm_password').invalid && forgotPassword.get('confirm_password').touched">
            <small *ngIf="confirm_password.errors?.required" class="redColor">
              Confirm Password is required.
            </small>
          </div>
          </div>
     <div class="form-group">
      <button value="" class="btn btn-subscribe form-control btn-shutter">Send verification email</button> 
    </div>
    </form>
    </div>
  </div>
</div>