<div class="container-fluid">
  <div class="row container-row">
    <div class="row margin-all">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-sm heading-text">
        <h2>Review</h2>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="cart-box">

            <!-- Navigation section -->
            <div class="stepwizard">
              <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-1" type="button" class="btn btn-success
                    btn-circle active">1</a>
                  <p><small>Shipper</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-2" type="button" class="btn btn-default
                    btn-circle active">2</a>
                  <p><small>Review</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-3" type="button" class="btn btn-default
                    btn-circle active">3</a>
                  <p><small>Payment</small></p>
                </div>
              </div>
            </div>
            <!-- Navigation section -->

            <!-- form section -->
            <div class="row padding-all">
              <div class="container-fluid">
                <div class="row container-row">
                  <div class="row margin-all">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-sm heading-text">
                      <h2>My Cart</h2>
                    </div>
                      <div class="col-sm-12 cart-box">
                       <img (click)="printReport()" src="../../../assets/print-icon.png" style="height: 30px;" alt="Print" class="pull-right">
                      </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <ng-template ngFor let-product [ngForOf]="CartProducts" let-i="index">
                          <div class="cart-box">
                            <div class="row padding-all">
                              <div class="col-sm-3 col-md-3 col-lg-3">
                                <img [(src)]="product.itemImage" height="160" width="200" alt="">
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 padding-left-md cart-text margin-top-md">
                                <h4>{{product.itemTitle}}</h4>
                                <p>{{product.itemBrand}} ({{product.itemColor}})</p>
                                <h4 class="P-prices"> &#8377;{{product.itemPrice - product.itemPrice * 15 / 100 | number: '1.0-0'}}</h4>
                                <span class="P-offer-price" style="margin-left: 20px;"><del>&#8377;{{product.itemPrice}}</del></span>
                                <span class="P-discount"> &nbsp; &nbsp; - 15% Off</span>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 cart-text">
                                <span>
                                  <h5 style="display:inline-block"> <span class="glyphicon
                                                                                                  glyphicon-map-marker"></span> Delivery in 3 - 4
                                    days
                                    | <span style="color:green; font-weight:bold">Free</span>
                                    ₹40 </h5>
                                </span>
                                <div>
                                  <p style="margin-top:10px;">Quentity:</p>
                                  <div class="plus-mins" (click)="desQty(product)">-</div>
                                  <input type="text" [(ngModel)]="product.itemQuality" disabled class="form-control Qty-input"
                                    style="width: 40px;display: inline;margin: 10px;" />
                                  <div class="plus-mins" (click)="incQty(product)">+</div>
                                  <button type="button" class="btn btn-danger
                                                                                                pull-right" (click)="removeItem(product)"><i
                                      class="glyphicon glyphicon-trash"></i></button>
                                </div>
                              </div>
                              </div>
                              </div>
                        </ng-template>
                        <div class="row" style="margin:0px">
                          <div class="col-sm-12 cart-box">
                            <span class="pull-right font-18"> Total Quantity : <span>{{CartProducts.length}}</span></span>
                          </div>
                        </div>
                        </div>
                        </div>
                        </div>
                </div>
                </div>
                </div>
              </div>
            </div>
            </div>