<div class="container-fluid">
  <div class="row container-row">
    <div class="row margin-all">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-sm heading-text">
        <h2>Review</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="cart-box">

            <!-- Navigation section -->
            <div class="stepwizard">
              <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-1" type="button" class="btn btn-success
                    btn-circle active">1</a>
                  <p><small>Shipper</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-2" type="button" class="btn btn-default
                    btn-circle active">2</a>
                  <p><small>Payment</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                  <a href="#step-3" type="button" class="btn btn-default
                    btn-circle active">3</a>
                  <p><small>Review</small></p>
                </div>
              </div>
            </div>
            <!-- Navigation section -->

            <!-- form section -->
            <div class="row padding-all">
                 <div class="col-md-12">
                  <h2>Delivery To</h2>
                  <h4 class="padding-all">
                <b> <p> <span><i class="fa fa-user" aria-hidden="true"></i></span> &nbsp; Asutosh Panda</p></b>
                  <p> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +91 8280054792</p>
                  <p> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; asutoshsahu2019@gmail.com</p>
                </h4>
                  <h4> <i class="fa fa-map-marker" aria-hidden="true" style="color:red;"></i>&nbsp; Delivery address :</h4>
                 </div>
                      <div class="col-md-8 col-md-offset-2">
                        <div>
                          <h4>  3<sup>rd</sup> Cross, Thurimalla bakery<br> <br> Channasandra, whiteField <br> <br> Banglore, Karnataka <br> <br> India, zip - 760067</h4>
                          
                    </div>
                      </div>
            </div>
            
                      <div class="place-order">
                        <div class="form-group col-xs-12">
                          <button class="btn btn-subscribe btn-order pull-right
                            form-control
                            btn-shutter" (click)="showPaymentPortal()">Continue</button>
                        </div>
                        <br> <br> <br> <br> <br>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="cart-box">
                      <div class="row">
                        <div class="col-sm-12">
                          <h3 class="pro-details border-gray">PRICE DETAILS</h3>
                        </div>
                        <div class="col-sm-12">
                          <div class="pro-text">
                            <span><b>Price (2 items)</b></span>
                            <span class="pull-right">&#8377; 7,500.00</span>
                          </div>
                          <div class="pro-text border-gray">
                            <span><b>Delivery</b></span>
                            <span class="pull-right" style="color:green">FREE</span>
                          </div>
                        </div>
                        <div class="col-sm-12 pro-total">
                          <div class="border-gray">
                            <span class=""><b>Total Payable</b></span>
                            <span class="pull-right">&#8377; 7,500.00</span>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="pro-text">
                            <span class="" style="color:green"><b>You will save
                                ₹1,300 on
                                this order</b></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center" style="margin-top:50px;">
                        <h3>Follow Us</h3>
                  </div>
                  <div class="col-md-4 text-center" id="contRow">
                    <ul class="faicons">
                      <li class="faspot_1"><a href=""><i class="fa fa-linkedin
                            fa-3x"></i></a></li>
                      <li class="faspot_2"><a href=""><i class="fa fa-facebook
                            fa-3x"></i></a></li>
                      <li class="faspot_3"><a href=""><i class="fa fa-twitter
                            fa-2x"></i></a></li>
                      <li class="faspot_4"><a href=""><i class="fa
                            fa-google-plus fa-2x"></i></a></li>
                      <li class="faspot_5"><a href=""><i class="fa fa-reddit
                            fa-2x"></i></a></li>
                      <li class="faspot_6"><a href=""><i class="fa fa-git
                            fa-2x"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
