<header class="footer-body margin-top">
  <div class="container-fluid">
    <div class="container">
      <div class="row footer-container">
        <div style="float:left;padding-top:98px;">
          <div id="thumbnail-slider" class="logos-slider">
            <div class="inner">
              <ul>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images1.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images2.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images3.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images4.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image5.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images6.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image7.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images8.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image9.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image10.png"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images11.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image12.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image13.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/image14.jpg"></a>
                </li>
                <li>
                  <a class="thumb" href="../../../assets/Brands logo/images15.png"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-10 col-sm-12 col-xs-12">
          <div class="log-side pull-right">
            <div class="">
              <div id="logo">
                <h1> <a href=""><span class="logo-Baggage">B</span>aggage</a>
                  <label class="sub-des">Online
                    Store</label>
                </h1>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer First section END -->
  </div>
  <!-- Footer Second section START -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-box">
          <h3>Follow Us</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-box">
          <div>
            <a href="#" class="social-icon"><span class="fa fa-facebook-f"></span>
              Facebook</a>
          </div>
          <div><a href="#" class="social-icon"><span class="fa fa-twitter"></span>
              Twitter</a></div>
          <div>
            <a href="#" class="social-icon"><span class="fa fa fa-google"></span>Google</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid cy-right">
    <div class="row">
      <div class="col-xs-12">
        <div class="copy-right">
          © 2019 Baggage. All rights reserved | Design by BaggageApp.
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Second section END -->

</header>